.header {
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("./components/Image.jpg");
  background-color: rgba($color: $color-one, $alpha: 0.7);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-size: 2.7rem;
    color: #fff;

    @include verySmall {
      font-size: 2.2rem;
    }
  }

  &__lead {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #fff;

    @include verySmall {
      font-size: 1.05rem;
    }
  }
}
