.hero-bio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 3rem;
  padding: 0 2rem;

  @include small {
    grid-template-columns: repeat(2, 1fr);
    height: 23rem;
  }

  @include medium {
    grid-template-columns: 1fr 2fr;
  }

  &__image {
    height: 23rem;
    border: 4px solid $color-three;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    height: 23rem;
    border: 4px solid $color-three;
    padding: 1rem 0.5rem 0rem 0.5rem;

    &__title {
      font-weight: bold;
      font-size: 2rem;
    }

    &__description {
      margin-top: 1rem;
    }

    &__collection {
      margin-top: 0.5rem;

      & span {
        font-weight: bold;
        font-size: 0.85rem;
        & span {
          color: yellowgreen;
        }
      }
    }

    &__button {
      margin-top: 1.5rem;
      padding: 0.6rem;
      border: 2px solid $color-three;
      border-radius: 5px;
      background: transparent;
      cursor: pointer;
      font-weight: bolder;
      transition: all 0.35s ease-in-out;

      &:hover {
        background-color: greenyellow;
        border-color: greenyellow;
        color: $color-three;
      }
    }
  }
}
