@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #404040; }

body {
  background-color: #bfbfbf; }

.App {
  max-width: 75rem;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px 1px #0d0d0d; }

.loader {
  width: 100%;
  text-align: center;
  padding-top: 2rem; }
  .loader img {
    width: 5rem;
    height: 5rem; }

.header {
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("/img/Image.jpg");
  background-color: rgba(13, 13, 13, 0.7);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__title {
    font-size: 2.7rem;
    color: #fff; }
    @media screen and (max-width: 575.98px) {
      .header__title {
        font-size: 2.2rem; } }
  .header__lead {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #fff; }
    @media screen and (max-width: 575.98px) {
      .header__lead {
        font-size: 1.05rem; } }

.hero-search {
  background: #404040;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 3.2rem; }
  @media screen and (max-width: 575.98px) {
    .hero-search {
      grid-template-columns: 1fr; } }
  .hero-search__title {
    display: inline-flex;
    align-items: center;
    padding-left: 2rem;
    font-weight: bold;
    color: #ffffff; }
    @media screen and (max-width: 575.98px) {
      .hero-search__title {
        display: none; } }
  .hero-search__form {
    display: inline-flex;
    justify-content: flex-end;
    padding: 0.4rem 2rem 0.4rem 0rem; }
    @media screen and (max-width: 575.98px) {
      .hero-search__form {
        justify-content: center;
        padding: 0.4rem 0; } }
    .hero-search__form input {
      width: 13rem;
      padding-left: 0.4rem;
      border: 2px solid #ffffff;
      border-radius: 5px; }
      .hero-search__form input:focus {
        outline: none; }
    .hero-search__form button {
      padding: 0 0.5rem;
      cursor: pointer;
      margin-left: 0.4rem;
      font-weight: bold;
      border: 2px solid #ffffff;
      color: #ffffff;
      border-radius: 5px;
      background-color: transparent;
      transition: all 0.35s ease-in-out; }
      .hero-search__form button:hover {
        background-color: greenyellow;
        border-color: greenyellow;
        color: #404040; }

.hero-bio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 3rem;
  padding: 0 2rem; }
  @media screen and (min-width: 576px) {
    .hero-bio {
      grid-template-columns: repeat(2, 1fr);
      height: 23rem; } }
  @media screen and (min-width: 768px) {
    .hero-bio {
      grid-template-columns: 1fr 2fr; } }
  .hero-bio__image {
    height: 23rem;
    border: 4px solid #404040; }
    .hero-bio__image img {
      width: 100%;
      height: 100%; }
  .hero-bio__content {
    height: 23rem;
    border: 4px solid #404040;
    padding: 1rem 0.5rem 0rem 0.5rem; }
    .hero-bio__content__title {
      font-weight: bold;
      font-size: 2rem; }
    .hero-bio__content__description {
      margin-top: 1rem; }
    .hero-bio__content__collection {
      margin-top: 0.5rem; }
      .hero-bio__content__collection span {
        font-weight: bold;
        font-size: 0.85rem; }
        .hero-bio__content__collection span span {
          color: yellowgreen; }
    .hero-bio__content__button {
      margin-top: 1.5rem;
      padding: 0.6rem;
      border: 2px solid #404040;
      border-radius: 5px;
      background: transparent;
      cursor: pointer;
      font-weight: bolder;
      transition: all 0.35s ease-in-out; }
      .hero-bio__content__button:hover {
        background-color: greenyellow;
        border-color: greenyellow;
        color: #404040; }

.hero-comics {
  margin-top: 2rem;
  padding-bottom: 2rem; }
  .hero-comics__title {
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.3rem; }
  .hero-comics__comics {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 0 2rem; }
    @media screen and (min-width: 576px) {
      .hero-comics__comics {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 768px) {
      .hero-comics__comics {
        grid-template-columns: repeat(3, 1fr); } }
    .hero-comics__comics__item {
      background: #0d0d0d;
      height: 23rem;
      border: 4px solid #404040;
      transition: all 0.35s ease-in-out; }
      .hero-comics__comics__item:hover {
        box-shadow: 0px 5px 10px 1px #0d0d0d;
        transform: translateY(-10px); }
        .hero-comics__comics__item:hover p {
          visibility: visible;
          font-weight: bold;
          transition: all 0.35s ease-in-out; }
        .hero-comics__comics__item:hover img {
          opacity: 0.2;
          transition: all 0.35s ease-in-out; }
      .hero-comics__comics__item p {
        position: absolute;
        color: greenyellow;
        margin-top: 11.5rem;
        margin-left: 1rem;
        width: 11.5rem;
        visibility: hidden; }
      .hero-comics__comics__item img {
        width: 100%;
        height: 100%; }
